<%= link_to vacancies_path, :class => "icon-all mb-5" do %>
<div class="container">
    <i class="fas fa-angle-double-left"></i>
  <% end %>


  <div class="bg-white rounded p-3 shadow mt-5">
    <div class="p-5">
      <h1>New Vacancy</h1>

      <%= render 'form', vacancy: @vacancy %>
    </div>
  </div>
</div>

